html {
    background: no-repeat url('../IMG/Background.jpg');
}

body,html {
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
}

body {
    padding: 28px 84px 0;
}

.background {
    padding: 70px 116px 50px;
    background: white;
    width: 60%;
    min-width: 800px;
}

.blue {
    color: #01B4DC;
}

.fnt-sz {
    font-size: 10px;
}

#statement {
    min-height: 60px;
}

#start {
    margin-top: 10px;
}

#intro {
    display: block;
}

#questions {
    display: none;
}

#important-statements {
    display: none;
}

#parties {
    display: none;
}

#back {
    display: none;
}


